@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<Visit>

<h1>
    This week visits
</h1>
<h2>
    Doctor: @ViewData["Doctor"]
</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VisitDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatientPrevisitNote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelephoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor.DoctorLabel)
            </th>
            <th>
                Patient
                @Html.DisplayNameFor(model => model.Patient.Name)
            </th>
            <th>
                Patient
                @Html.DisplayNameFor(model => model.Patient.Surname)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VisitDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientPrevisitNote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelephoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor.DoctorLabel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.Surname)
            </td>
        </tr>
}
    </tbody>
</table>