@model IEnumerable<WebApp1.Models.Specialization>

@{
    ViewData["Title"] = "Specializations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style type="text/css">
    .visitLink {
        color: white
    }
</style>



<h1>Our doctors and their specializations</h1>
<hr />
<h2>@Html.DisplayNameFor(model => model.SpecializationName)</h2>
<hr />

<!--
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<style>
    .accordion {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        text-align: left;
        border: none;
        outline: none;
        transition: 0.4s;
    }

        /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
        .active, .accordion:hover {
            background-color: #ccc;
        }

    /* Style the accordion panel. Note: hidden by default */
    .panel {
        padding: 0 18px;
        background-color: white;
        display: none;
        overflow: hidden;
    }
</style>
-->
<div class="panel-group" id="accordion">
    @foreach (var item in Model)
    {
        <div class="panel panel-default">
            <div class="panel-heading" style="color: black">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#@item.SpecializationName">
                        @item.SpecializationName
                    </a>
                </h4>
            </div>
            <div id="@item.SpecializationName" class="panel-collapse collapse in">
                <div class="panel-body">
                    <ul>
                        @foreach (var doctor in item.DoctorsWithSpecialization)
                        {
                            <li>
                                <div class="row">
                                    <div class="col-md-10">
                                        @doctor.DoctorLabel
                                        <button class="btn-primary float-right">
                                                @Html.ActionLink("register visit", "DoctorVisits", "Home", null, null, null, new { doctorID = doctor.DoctorID }, new { @class = "visitLink"})
                                        </button>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    }
</div>