@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@using System.Collections.Generic;
@{
}

<div class="row">
    @if (ViewData["Specializations"] is null)
    {
        <div class="text-danger">There is no doctors in our clinic yet.</div>
    }
     else
            {
<div class="col-md-4">
    @using (Html.BeginForm("SpecifyVisit", "Home", FormMethod.Post))
    {
        <label>Specialization</label>
        <div>
            <select>
                @foreach (String spec in (IEnumerable<String>)ViewData["Specializations"])
                {
                    <option value="@spec">@spec</option>
                }
            </select>
        </div>
        <label>Preferable date for visit</label>
        <input type="date"/>
        <div>
            <input type="submit" value="Search" />
        </div>
    }
    @*<form asp-action="SpecifyVisit" method="post">
        <label>Specialization</label>
        <div>
            <select>
                @foreach (String spec in (IEnumerable<String>)ViewData["Specializations"])
                {
                    <option value="@spec">@spec</option>
                }
            </select>
        </div>
        <label>Preferable date for visit</label>
        <input type="date" placeholder="@System.DateTime.Now" />
        <div>
            <input type="submit" value="Search" />
        </div>
    </form>*@
</div>
            }
    
</div>
